<svg class="border">
<g>
<polygon points="305 377,70 361,1 210,36 12,326 4,414 161"></polygon>
<text x=40 y=70>
  <div class="login-form">
    <%= form_for :session do |f| %>
      <section class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, required: true %>
      </section>
      <section class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </section>
      <section class="form-group">
        <%= f.label :confirm_password %>
        <%= f.password_field :password %>
      </section>
      <section class="form-group">
        <%= f.submit "login" %>
      </section>
    <% end %>
  </div>
</text>
</g>
</svg>

  <%= link_to '/auth/twitter', class: "login-twitter-link" do %>
    <svg class="sign-in">
      <g>
      <polygon points="50% 0%, 88% 2%, 95% 14%, 73% 32%, 11% 11%, 2% 3%"></polygon>
      <text x=40 y=40>sign in with twitter</text>
      </g>
    </svg>
  <% end %>

<%= render partial: "shared/footer" %>
