<% current_user.spots.reverse.each do |spot|  %>
  <section class="spot-unit">
    <figure>
      <%= image_tag spot.avatar, class:"water-pic" %>
    </figure>
    <ul class="spot-specs">
      <li>name: <%= spot.name %></li>
      <li>latitude: <%= spot.lat %></li>
      <li>longitude: <%= spot.long %></li>
      <li>rating: <%= spot.rating %></li>
      <li>posted: <%= time_ago_in_words(spot.created_at) %> ago</li>
    </ul>
  </section>
<% end %>

