<svg class="border">
<g>
  <polygon points="305 377,70 361,1 210,36 12,326 4,414 161"></polygon>
  <text x=40 y=70>
    <div class="register-form">
      <%= form_for :user, url: users_path do |f| %>
        <section class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, required: true %>
        </section>
        <section class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, required: true %>
        </section>
        <section class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, id:"password" %>
        </section>
        <section class="form-group">
          <%= f.label :confirm_password %>
          <%= f.password_field :password %>
        </section>
        <section class="form-group">
          <%= f.file_field :avatar %><br>
          <%= f.text_field :remote_avatar_url %>
        </section>
        <section class="form-group">
          <%= f.submit "sign up" %>
        </section>
      <% end %>
    </div>
  </text>
</g>
</svg>

<%= render partial: "shared/footer" %>
