<aside class="user-specs">
<%= image_tag "giraffe.jpg", class: "profile-pic" %>
<h4>geraldchomps</h4>
<h5>jerrygerald@gmail.com</h5>
</aside>

<svg id="spots">
  <g>
  <polygon points="151 68,179 38,175 5,56 7,6 33,13 57"></polygon>
  <text x=60 y=40>spots</text>
  </g>
</svg>

<%= link_to "#" %>
<svg id="new-spot">
  <g>
  <polygon points="95 66,147 56,127 24,21 6,4 18">
  </polygon>
  <text x=60 y=40 transform="rotate(20 90,0)">new spot</text>
  </g>
</svg>

<section class="spot-unit">
  <figure>
    <%= link_to "edit_user_spot" do %>
    <%= image_tag "headwater.jpg", class:"water-pic" %>
  <% end %>
  </figure>
  <ul class="spot-specs">
    <li>lat: 01.02.55</li>
    <li>long: 03.25.44</li>
    <li>posted: 03/11/2015</li>
  </ul>
</section>

<section class="spot-unit">
  <figure>
    <%=link_to "edit_user_spot" do %>
    <%= image_tag "headwater.jpg", class:"water-pic" %>
  <% end %>
  </figure>
  <ul class="spot-specs">
    <li>lat: 01.02.55</li>
    <li>long: 03.25.44</li>
    <li>posted: 03/11/2015</li>
  </ul>
</section>

<section class="spot-unit">
  <figure>
    <%=link_to "edit_user_spot" do %>
    <%= image_tag "headwater.jpg", class:"water-pic" %>
  <% end %>
  </figure>
  <ul class="spot-specs">
    <li>lat: 01.02.55</li>
    <li>long: 03.25.44</li>
    <li>posted: 03/11/2015</li>
  </ul>
</section>

<section class="spot-unit">
  <figure>
    <%=link_to "edit_user_spot" do %>
    <%= image_tag "headwater.jpg", class:"water-pic" %>
  <% end %>
  </figure>
  <ul class="spot-specs">
    <li>lat: 01.02.55</li>
    <li>long: 03.25.44</li>
    <li>posted: 03/11/2015</li>
  </ul>
