<%= form_for([@user, @user.spots.new]) do |f| %>
  <div class="form-group">
    <%= f.label :lat %>
    <%= f.text_field :lat, placeholder: "latitude" %>
  </div>
  <div class="form-group">
    <%= f.label :long %>
    <%= f.text_field :long, placeholder: "longitude" %>
  </div>

  <div class="form-group rating">
    <div id="slider"></div>
    <script>
      var slider = $('#slider').CircularSlider();
    </script>
  </div>

  <div class="form-group">
    <%= f.submit "save" %>
  </div>
<% end %>
