<div class="sign-up-login">

  <% if current_user %>

      <svg class="register name">
        <g>
        <polygon points="107 47,67 64,5 52,7 24,51 6,91 20"></polygon>
        <text x=25 y=40><%= current_user.username %></text>
        </g>
      </svg>

    <%= link_to logout_path, method: :delete, class: "login-link" do %>
      <svg class="sign-in">
        <g>
        <polygon points="5 48,32 63,128 58,139 27,82 2,27 27"></polygon>
        <text x=45 y=40>sign out</text>
        </g>
      </svg>
    <% end %>

    <%= render partial: "layouts/dash_link" %>

  <% else %>

    <%= link_to new_user_path, class:"register-link"  do %>
      <svg class="register">
        <g>
        <polygon points="107 47,67 64,5 52,7 24,51 6,91 20"></polygon>
        <text x=20 y=40>register</text>
        </g>
      </svg>
    <% end %>

    <%= link_to login_path, class: "login-link" do %>
      <svg class="sign-in">
        <g>
        <polygon points="5 48,32 63,128 58,139 27,82 2,27 27"></polygon>
        <text x=45 y=40>sign in</text>
        </g>
      </svg>
    <% end %>

  <% end %>

</div>
